* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

:root {
  --primarycolor: #e5e5dc ;
  --secondarycolor: #26495c ;
  --linkcolor: #c4a35a;




  --primaryfont: 'nunito Sans', sans-serif;
}

/* ------------------------- Header --------------------- */

.logo {
  max-width: 400px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--primarycolor);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primaryfont);
  color: var(--secondarycolor);
  transition: 0.3s ease;

}

#navbar li a:hover {
  color: var(--linkcolor);
}

#navbar li a.active {
  color: var(--linkcolor);
  padding-bottom: .5px;
  border-bottom: 2px solid var(--linkcolor);
}