* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

:root {
  --primarycolor: ;




  --primaryfont: font-family: 'Nunito Sans', sans-serif;
}

/* ------------------------- Header --------------------- */

.logo {
  max-width: 400px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e5e5dc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primaryfont);
}